@import "../../../mixins/media.scss";
@import "../../../mixins/underlines-circles.scss";

.underline_1 {
    @include underline(0);
}

.page_title {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(-90deg) translateX(200px) translateY(200px);
    width: 500px;
}

.hero,
.wrapper {
    min-height: 20vw;
    position: relative;
    z-index: 9;
}

.hero h2>span {
    position: relative;
    text-decoration: none !important;
}

:global {

    #about-us .hero h2>span::after,
    #staff .hero h2>span::after,
    #dna .hero h2>span::after {
        @include underline1_black(0, 1.7vw);
    }

    #radiant-kids h2>span::after {
        @include underline1_black(-5px, 2vw);
    }

}