@import "../../../mixins/transitions.scss";

.directory .fader {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 400px;
    bottom: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f1), color-stop(40%, rgba(245, 245, 241, .65)), color-stop(95%, rgba(245, 245, 241, .01)), color-stop(97%, rgba(255, 245, 241, .02)), to(rgba(245, 245, 241, 0)));
    background: linear-gradient(180deg, #f5f5f1, rgba(245, 245, 241, .65) 40%, rgba(245, 245, 241, .01) 95%, rgba(255, 245, 241, .02) 97%, rgba(245, 245, 241, 0));
    transform: rotate(180deg);
}

.card {
    position: relative;
    overflow: hidden;
    margin-top: 35px;

    &:hover .title {
        color: $yellow-color;
    }

    &:first-child {
        margin-top: 0;
    }

    .title {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 50%;
        z-index: 3;
        width: calc(100% - 50px);
        @include transition-slow;
    }

    .overlay {
        position: absolute;
        left: 0;
        right: 0;
        background: rgba(30, 38, 38, 0.35);
        z-index: 2;
        width: 100%;
        height: 100%;
    }
}

.right {
    margin-top: 120px;
}